label.error {
	color: #EA5200;
	font-style: italic;
	font-weight: bold;
	padding-left: 16px;
	padding-bottom: 3px;
	background: transparent url("../images/unchecked.gif") no-repeat scroll
		0px 0px;
}

label.checked {
	background: transparent url("../images/checked.gif") no-repeat scroll
		0px 0px;
}

#footer {
	clear: both;
	bottom: 0;
	position: fixed;
	height: 10%;
	width: 100%;
	background-color: #f5f5f5;
	text-align: center;
	font-size: 15px;
}

#footer>.container {
	padding-left: 15px;
	padding-right: 15px;
}

.container .text-muted {
	margin: 20px 0;
}